@import "../../assets/styles/util/variables.scss";

.landing-container {
  background-color: var(--bg-color);
  min-height: 100vh; // Full-screen height
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1, h4, p {
    margin: 0;
    padding: 0.5rem 0;
    color:black
  }

  button {
    font-family: var(--font-family);
  }
}

.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.665)),
  url("/client/src/assets/images/tokyo_station.jpg");
background-size: cover;
background-position: center;
height: 100vh; /* Adjust based on design */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: white; /* Example text styling */
}
